.footer-bg {
  background: var(--cor-12);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  gap: 60px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-container h4 {
  margin-bottom: 32px;
}

.footer-contato li {
  margin-bottom: 5px;
}

.footer-contato li:last-child {
  margin-bottom: 20px;
}

.footer-contato li:last-child::after {
  background: var(--cor-11);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  width: 360px;
}

.footer-container span {
  grid-column: 1 / -1;
  margin-bottom: 32px;
}

.footer-info li {
  margin-bottom: 15px;
}

.rede-social {
  display: flex;
  gap: 32px;
}

.rede-social img {
  color: white;
}

@media (max-width: 1200px) {
  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
    gap: 40px;
  }
}

@media (max-width: 800px) {
  .footer-container {
    padding: 60px 20px 20px 20px;
  }
  .rede-social {
    margin-bottom: 32px;
  }
  .footer-contato li:last-child::after {
    width: 300px;
    background: var(--cor-10);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .rede-social {
    margin-bottom: 8px;
  }
  .footer-info li:last-child {
    margin-bottom: 20px;
  }
}
